@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama-nueva');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

/* header section */
.header{
    max-width: 1440px;
    height: auto;
    background: linear-gradient(#111111, #262424,#141313);
    position: relative;
}
.nav-ber{
    width: 80%;
    margin: 0 auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#bar{
    display: none;
}
.menu-bar ul{
    display: flex;
    gap: 47px;
    border: 1px solid#FFFFFF1A;
    border-radius: 39px;
    padding: 2px 20px;
}
.menu-bar ul li{
    list-style: none;
    
}
.menu-bar >ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}
#home-nev{
    background-color: #E6533C;
    padding: 2px  14px;
    margin-left:  -20px ;
    border-radius: 46px;
    font-weight: 600;
}
.brand{
    color: rgb(230, 83, 60);
    font-size: 1.75rem;
}
.banner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 167px;
}
.banner-text h1{
    font-size: 4.75rem;
    font-weight: 900;
    color: #FFFFFF;
}
#span1{
    font-family: 'Miama Nueva';
  
   
}
.banner-text{
    width: 520px;
    height: 282px;
    margin-top: 96px;
}
.banner-text p{
    font-size: 1rem;
    color: #FFFFFF80;
    margin: 28px 0px;
}
.primary-btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    
}
#btn2{
    border: 1px solid rgb(255, 255, 255);
    background: none;
    margin-left: 16px;
}
.banner-photo{
    width: 349px;
    height: 580px;
}
.box-1{
    width: 195px;
    height: 98px;
    border: 1px solid#FFFFFF1A;
    border-radius: 12px;
    background: #FFFFFF1A;
    backdrop-filter: blur(20px);
    padding: 17px;
    position: absolute;
    left: 1020px;
    top: 160px;
}
.box-1 h3{
    font-size: 2rem;
    font-weight: 900;
    color: #FFFFFF;
}
.box-1 p{
    color: #FFFFFFA6;
}
.box-2{
    width: 206px;
    height: 96px;
    border: 1px solid #FFFFFF1A;
    background: #3030308A;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 684px;
    top: 456px;
   
}
.box-2 h3{
    font-size: 1.50rem;
    font-weight: 900;
   color: #FAFAF9;
}
.box-2 p{
    color: #EFEDE8A6;
    font-size: 1rem;

}
.crcle{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
   
}
/* hadit section style */
.habits{
    max-width: 1440px;
    background:black;

}
.habit{
    width: 80%;
   
    margin:0 auto;
    padding-top: 100px;
}
.habit-title{
    color:#FFFFFF ;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 14px;
}
.habit-dis{
    color: #FFFFFF80;
    font-size: .75rem;
    text-align: center;
    margin-bottom: 54px;
}
.hebit-ilst-item{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.habit-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.habit-img1{
  border: 1px solid#FFFFFF80;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../images/image\ 3.png);
  
 
}
.habit-img2{
  border: 1px solid #FFFFFF80;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../images/image\ 2.png);
  
 
}
.habit-img3{
  border: 1px solid #FFFFFF80;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../images/image\ 4.png);
  
 
}

.habit-img4{
  border: 1px solid #FFFFFF80;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../images/image\ 5.png);
  
 
}
.habit-text{
    text-align: center;
    margin-top: 26px;
}
.habit-text h5{
    font-size: 1.25rem;
    margin-bottom: 6px;
    color: #FFFFFF;


}
.habit-text p{
    font-size: .75rem;
    color: #FFFFFF80;
}
/* run section */
.runs{
    max-width: 1440px;
    height: auto;
    background: black;
    padding-top: 100px;
    
}
.run{
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 16px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    padding: 34px;
}
.run-text{
    width: 443px;
    height: 290px;
    margin-left: 20px;
}
.run-text h1{
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 14px;
}
.run-text p{
     color: #FFFFFF80;
     font-size: .75rem;
     margin-bottom: 34px;
}
.run-image{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    background-image: url(../images/run.jpg);
    background-size: 240%;
    background-position: 75% 25%;
}
/* exercises section style */
.exercises{
    max-width: 1440px;
    height: auto;
    background-color:black;
    padding-top: 101px;

}
.exercises-item{
    width: 80%;
    margin: 0 auto;
}
.exercises-text{
    margin-bottom: 58px;
}
.exercises-text h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
    color: #FFFFFF;
}
.exercises-text p{
    font-size: .75rem;
    color: #FFFFFF80;
}
.exercises-image{
    display: grid;
    grid-template-columns:repeat(3,auto); 
    
    
   
}
.exer-item {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}
.exercises-image>.exer-item:nth-child(1){
    width: 256px;
    height: 214px;
    background-image:linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url(../images/exercise1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
   
}
.exercises-image>.exer-item:nth-child(1)>p{
    position: absolute;
    left: 24px;
    top: 157px;
    color: #111111;
    font-weight: 600;
}


.exercises-image>.exer-item:nth-child(2){
    width: 451px;
    height: 214px;
    background-image:linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(../images/exercise2.png);
    background-size: cover;
   
    

}
.exercises-image>.exer-item:nth-child(2)>p{
    left: 31px;
    top: 25px;
    color: #111111;
    font-weight: 600;
}
.exercises-image>.exer-item:nth-child(3){
    width: 301px;
    height: 214px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/exercise3.png);
    background-size: cover;
   
}
.exercises-image>.exer-item:nth-child(3)>p{
    left: 27px;
    top: 146px;
}
.exercises-image2{
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.exercises-image2>.exer-item:nth-child(1){
    width: 401px;
    height: 214px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/exercise4.png);
    background-size: cover;
    
}
.exercises-image2>.exer-item:nth-child(1)>p{
    left: 225px;
    top: 25px;
}
.exercises-image2>.exer-item:nth-child(2){
    width: 256px;
    height: 214px;
    background-image:linear-gradient(rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url(../images/exercise5.jpg);
    background-size: cover;
   
}
.exercises-image2>.exer-item:nth-child(2)>p{
    left: 34px;
    top: 144.5px;
}
.exercises-image2>.exer-item:nth-child(3){
    width: 351px;
    height: 214px;
    background-image:linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url(../images/exercise6.jpg);
    background-size: cover;
   
    
}
.exercises-image2>.exer-item:nth-child(3)>p{
    left: 38px;
    top: 142.5px;
}
.exer-item p{
    color: rgb(255, 255, 255);
    position: absolute;

}
/* bma-calculator style */
.bma-calculator{
    max-width: 1440px;
    height: auto;
    padding-top: 78px;
    background-color:black;
}
.bma-cal{
    width: 100%;
    height: 487px;
    margin: 0 auto;
    margin-top: 88px;
    border: 2px solid black;
    background-color: #222222;
}
.bma-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
   
}
.bma-header h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    color: #FFFFFF;
   
}
.bma-header p{
    font-size: .75rem;
    text-align: left;
    margin-left: 100px;
    color: #FFFFFF80;
}
.bma-cal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bma-table h2{
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 52px;
    color: #FFFFFF;

}
table{
   
    border-collapse: collapse;
}
th, td{
    border: 2px solid #FFFFFF1A;
    padding: 8px;
    text-align: left;
    color: #FFFFFF80;

}
th{
    font-size: 16px;
   font-weight: 500;
   color: #FFFFFF;
}
.bma-cal-part{
    max-width: 577px;;
}
.bma-cal-part h3{
    font-size: 1.75rem;
   font-weight: 900;
   margin-bottom: 14px;
   color: #FFFFFF;
}
.bma-cal-part p{
    font-size: .75rem;
    margin-bottom: 34px;
    color: #FFFFFF80;
}

.bma-cal-input{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
    
}
.fector{
    grid-column: span 2;
    margin-bottom: 34px;

}
.hight, .Weight, .age, .sex, .fector{
   
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: #797777;
}

 



/* small device responsive section */
@media screen and (max-width:576px) {
    #bar{
        display: block;
        color: #FFFFFF;
    }
    .menu-bar{
        display: none;
    }
    .header{
        height: 100%;
        
    }
    .nav-ber{
        padding-top: 52px;
        width: 90%;
    }
    .banner{
        flex-direction: column;
            width: 90%;
            gap:48px ;
    }
    .banner-text{
       max-width: 352px;
        height: 335px;
    }

    .banner-text h1{
        font-size: 2.25rem;
        width: 285px;
        
    }
    .banner-text p{
        width: 275px;
    }
    .btn-section{
        display: flex;
    }
    .primary-btn{
        width: 169px;
        height: 54px;
        
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .banner-photo{
        margin: 0 auto;
       
    }
    .box-1{
        width: 145px;
        height: 74px;
        padding: 9px;
        left: 200px;
        top: 620px;
    }
    .box-1 h3{
        font-size: 1.75rem;
    }
    .box-1 p{
        font-size: 9px;
   
    
}
.box-2{
    width: 155.74px;
    height: 72.58px;
    left: 32px;
    top: 835px;
}
.box-2 h3{
    font-size: 16px;
}
.box-2 p{
    font-size: 10px;
}
.hebit-ilst-item{
    flex-direction: column;
}
.run{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.run-text{
    width: 287px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 31px;
}
.run-text > .primary-btn{
    width: 287px;
    height: 54px;
}
.run-text h1{
    font-size: 2rem;
}
.run-image{
    width: 287px;
    height: 170px;
}
.exercises-item{
    width: 90%;

}

.exercises-image{
    display: grid;
    grid-template-columns:repeat(2,auto); 
    
    
   
}
.exercises-image>.exer-item:nth-child(1){
   max-width: 175px;
}
.exercises-image>.exer-item:nth-child(3){
    display: none;
}
.exercises-image>.exer-item:nth-child(2){
   max-width:  175px;
    background-position:75% 25% ;
}
.exercises-image2{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.exercises-image2>.exer-item:nth-child(1){
    max-width: 175px;
}
.exercises-image2>.exer-item:nth-child(2){
    max-width: 175px;
}


.exercises-image2>.exer-item:nth-child(3){
    display: none;
}
.bma-cal{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
    padding:20px 10px 20px 10px ;
}
.bma-cal-part{
   width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
}
.bma-cal-input{
   width: 300px;
  
   gap: 12px;
   margin: 0 auto;
  
   
}
.hight, .Weight, .age, .sex, .fector{
   
   
   padding: 10px 15px 10px 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: #797777;
}
.fector{
    width: 300px;
}
.hight, .Weight, .age, .sex{
    width: 130px;
}
.bma-cal-part h3{
    margin-top: 34px;
}
.bma-cal-part p{
    
}

}